// bulma :)
@import '../node_modules/bulma/bulma.sass';

// IBM Plex Sans & Mono
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600,700|IBM+Plex+Sans:400,500,700');

// Custom styles
body {
    font-family: 'IBM Plex Mono', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(346deg, rgba(131,58,180,1) 0%, rgba(233,57,57,1) 60%, rgba(248,255,39,1) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'IBM Plex Sans', sans-serif;
}

pre {
  background-color: transparent;
  padding: 0;
}

.rounded {
  border-radius: 10px;
}
