@import '../node_modules/bulma/bulma.sass';

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,500,600,700|IBM+Plex+Sans:700');

// custom scss
body {
    font-family: 'IBM Plex Mono', sans-serif;
    background: rgb(131,58,180);
    background: linear-gradient(346deg, rgba(131,58,180,1) 0%, rgba(233,57,57,1) 60%, rgba(248,255,39,1) 100%);
}

h1,
h2,
h3,
h4,
h5,
h6,
#mainNav,
#mainNav .navbar-brand {
  font-family: 'IBM Plex Sans', sans-serif;
}


.mandate {
    background: #131733;
}

.culture {
    background: #5d29b4;
}
