<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="The website for SFU Code">
  <meta name="author" content="SFU Code">
  <link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
  <link rel="icon" type="image/png" sizes="196x196" href="img/favicon-192.png">
  <link rel="icon" type="image/png" sizes="160x160" href="img/favicon-160.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96.png">
  <link rel="icon" type="image/png" sizes="64x64" href="img/favicon-64.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="img/favicon-16.png">

  <title>{{ page.title }}</title>

  <!-- Custom CSS -->
  <link rel="stylesheet" href="css/site.css">

  <!-- Highlight.js, used for the code snippet on the index page -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item" href="index.html">
      <img src="img/sfu-code-logo.png" alt="SFU Code">
      SFU Code
    </a>
      <div class="navbar-burger burger" data-target="navbarMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navbarMenu" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="index.html">Intro</a>
        <a class="navbar-item" href="details.html">Details</a>
        <a class="navbar-item" href="join.html">Join</a>
      </div>
    </div>
  </nav>

  {{ content }}

  <footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

      <!-- Grid row -->
      <div class="row">
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase">Here's the bottom of the page.</h5>
          <p>We hope you enjoyed browsing.</p>
          <p>Don't like this site? <a href="https://github.com/sfu-code/sfu-code.github.io">Change it</a>.</p>
        </div>
        <div class="col-md-3 col-offset-3 mb-md-0 mb-3">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="https://github.com/sfu-code">Github</a>
            </li>
            <li>
              <a href="http://sfu-code.slack.com/">Slack</a>
            </li>
          </ul>

        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3">
      SFU Code 2018. This site is MIT licensed.
    </div>
  </footer>

  <!-- JS -->
  <script src="js/site.js"></script>
</body>

</html>
